body
{
	font-family: sans-serif;
	padding-top: 60px;
	padding-right: 50px;
	padding-left: 50px;
}

.navbar
{
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #d2eeef;
	z-index: 100;
	display: flex;
	border-bottom: 000000;
	padding-left: 50px;
	padding-right: 50px;
}
